.product-single-page {
  .section {
    margin-bottom: 90px;
  }
}

.form-page {
  padding-bottom: 100px;
}

.error-page {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  min-height: calc(100vh - 200px);

  h1 {
    font-size: $text-4xl;
    margin-bottom: $space-4;
  }

  p {
    margin-bottom: $space-6;
  }
  justify-content:flex-end;
}
